body {
  color: #40514E;
  margin: 0;
  text-align:center;
  font-family:Courier, monospace;
}

h1 {
  color: #001E6C;
}

h2 {
  color: #001E6C;
}

h3 {
  color: #001E6C;
}
hr{
  border-style: none;
border-top-style: dotted;
border-color: #EAF6F6 6px;
border-width: 5px;
width: 4%;
margin: 50px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #8FE3CF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro{
  width: 50%;
  margin: auto;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-image{
  height: 200px;
  width: 100px;
}


.coding-gif{
  width: 40%;
  float: left;
  margin: 40px;
}
.circket{
  width: 30%;
  float: right;
  margin-left: 40px;


}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
